
* {
   box-sizing:border-box;
}

h1 {
   color:#f44242;
   text-align: center;
}

p {
   width: 90%;
   margin-left:auto;
   margin-right:auto;
   font-family:helvetica;
}


.row {
   width: 100%;
   
}

.container {
   background: #D3D3D3;
   padding: 20px
}



/* For desktop: */
@media only screen and (min-width: 992px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
.col-1 {width: 33%; 200px}
.col-2 {width: 33%; 200px}
.col-3 {width: 33%; 200px}
}
/* For tablet: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
.col-1 {width: 50%; height: 300px}
.col-2 {width: 50%; height: 300px}
.col-3 {width: 100%;height 200px}
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
    [class*="col-"] {
        width: 100%;
    }
}

