
* {
   box-sizing:border-box;
   font-family: Helvetica, Arial, "sans serif";
}

body {
   background:#eaddca;
}

h1 {
   color:#f44242;
   text-align: right;
   margin: 20px;
   
}

p {
   width: 90%;
   margin-left:auto;
   margin-right:auto;
}

.ptitle {
   color:#f44242;
   position: absolute;
   top: 0px;
   right: 0px;
   width: 120px;
   padding: 10px;
   background:#00FFFF;
   border: 1px solid black;
}
   


.row {
   width: 100%;
   background: black;
   margin: 20px;
   
}

.container {
   
   padding: 10px;
 
}

.content {
   height: 300px;
   background: #D3D3D3;
   border: 1px solid black;
   position: relative;
}


/* For desktop: */
@media only screen and (min-width: 992px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
.col-1 {width: 33%;}
.col-2 {width: 33%;}
.col-3 {width: 33%;}
}
/* For tablet: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
.col-1 {width: 50%;}
.col-2 {width: 50%;}
.col-3 {width: 100%;}
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
   .col-1, .col-2, .col-3 {
   float: left;
   }
    [class*="col-"] {
        width: 100%;
    }
}

