
* {
   box-sizing:border-box;
}

h1 {
   color:#f44242;
   text-align: center;
}

/* For desktop: */
@media only screen and (min-width: 992px) {
.col-1 {width: 33%;}
.col-2 {width: 33%;}
.col-3 {width: 33%;}
}
/* For tablet: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.col-1 {width: 50%;}
.col-2 {width: 50%;}
.col-3 {width: 100%;}
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
    [class*="col-"] {
        width: 100%;
    }
}

